<br>
<h1>Proyectos</h1>
<h2 class="fw-light">Resumen de proyectos realizados a lo largo del curso</h2>
<br>

<div class="row">
  <div class="col-md-4">
    <div class="card mb-4">
      <%= image_tag 'html.jpg' , class: "card-img" %>
      <div class="card-body">
        <h3 class="card-text">Proyecto HTML</h3>
        <p>descripción del proyecto</p>
        <%= button_to 'Ver más', '/', class: 'button' %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4">
      <%= image_tag 'css.jpg' , class: "card-img" %>
      <div class="card-body">
        <h3 class="card-text">Proyecto CSS</h3>
        <p>descripción del proyecto</p>
        <%= button_to 'Ver más', '/', class: 'button' %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card mb-4">
      <%= image_tag 'ruby.jpg' , class: "card-img" %>
      <div class="card-body">
        <h3 class="card-text">Proyecto RUBY</h3>
        <p>descripción del proyecto</p>
        <%= button_to 'Ver más', '/', class: 'button' %>
      </div>
    </div>
  </div>
</div>